// Colors
$white: #ffffff;
$black: #000000;
$red: #FF2727;
$pink: #FF276C;
$violet: #D727FF;
$purple: #8D27FF;
$navy: #4A27FF;
$blue: #278AFF;
$teal: #00DEB1;
$green: #00B26B;
$lime: #6EDF00;
$yellow: #FFCE00;
$orange: #ff8a00;
$brown: #A83C00;
$grey-light: #F9F9F9;
$grey: #E7E7E7;
$grey-dark: #AAAAAA;
$slate: #303553;

$primary: #322171;
$secondary: #261955;
$tertiary: #FFAE12;
$cta: #312ED8;

$danger-color: #FF2727;
$warning-color: #ff8a00;
$normal-color: #278AFF;

$tint: rgba(#BAC2E6,.1);
$tone: rgba(#BAC2E6,.2);
$shade: rgba(#BAC2E6,.6);

$background-color: #E7EAF2;
$box-shadow-color: rgba(0,0,0,0.2);